.dev-wrapper {
  display: grid;
  grid-template-columns: 350px 1fr 2fr;
  background-color: #e5e5e5;
  height: 100%; }
  .dev-wrapper > div {
    padding: 1rem; }
    .dev-wrapper > div h4 {
      text-align: center; }
  @media only screen and (max-width: 1023px) {
    .dev-wrapper {
      grid-template-columns: 350px 1fr;
      grid-template-rows: 500px; } }

.controls-wrapper {
  background: #e5e5e5;
  position: relative;
  flex-basis: 350px;
  min-width: 350px;
  display: flex;
  flex-direction: column;
  overflow-y: auto; }
  .controls-wrapper .control-item {
    display: flex;
    text-align: left;
    flex-direction: column; }
    .controls-wrapper .control-item button {
      margin: 1rem auto 0;
      width: 50%; }
    .controls-wrapper .control-item span {
      letter-spacing: -1px;
      text-transform: uppercase; }
  .controls-wrapper .input-item {
    display: flex;
    text-align: left;
    flex-direction: column;
    margin: 0.5rem 0; }
    .controls-wrapper .input-item span {
      letter-spacing: -1px;
      text-transform: uppercase; }

.state-wrapper {
  flex-basis: 250px;
  min-width: 250px;
  height: 100%;
  background-color: #e5e5e5; }

.request-wrapper,
.error-wrapper {
  height: 35%;
  margin-bottom: 2rem; }

.request-body,
.error-body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #fcfef1;
  height: 80%;
  text-align: center;
  font-size: 1.5rem; }

.error-status__text {
  color: #d60606; }

.output-wrapper {
  background-color: #e5e5e5;
  flex-grow: 1;
  height: 100%;
  max-height: 800px; }
  @media only screen and (max-width: 1023px) {
    .output-wrapper {
      max-height: 600px;
      grid-column: span 2; } }
  .output-wrapper .output-body {
    height: calc(100% - 45px);
    padding: 0.8rem;
    font-size: 0.9rem;
    box-shadow: inset 2px 2px 18px -6px rgba(0, 0, 0, 0.35), inset -2px -2px 18px -6px rgba(0, 0, 0, 0.35);
    background-color: #f3e6b8;
    width: 100%; }
    .output-wrapper .output-body pre {
      height: 100%;
      padding: 5px;
      margin: 5px;
      overflow-y: auto; }
      .output-wrapper .output-body pre .string {
        color: green; }
      .output-wrapper .output-body pre .numberc {
        color: darkorange; }
      .output-wrapper .output-body pre .boolean {
        color: blue; }
      .output-wrapper .output-body pre .null {
        color: magenta; }
      .output-wrapper .output-body pre .key {
        color: red; }

.input-form {
  display: flex;
  flex-direction: column; }
  .input-form input.invalid {
    background-color: #e99c9c; }
  .input-form > div {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .input-form button:disabled {
    cursor: not-allowed; }
  .input-form .input-wrapper {
    position: relative; }
    .input-form .input-wrapper input {
      margin: 0.5rem 0;
      width: 50%; }
  .input-form .input__helper-text {
    display: none;
    position: absolute;
    right: 5px;
    top: -10px;
    text-transform: lowercase;
    color: #e99c9c;
    font-size: 0.8rem;
    font-family: cursive; }

.links-wrapper {
  padding: 1rem;
  display: flex; }
  .links-wrapper button {
    width: 100px;
    height: 40px;
    margin: 0 0.5rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }
  .links-wrapper a.active button {
    background-color: #7878ad;
    border: none; }

.datepicker-wrapper {
  padding: 0.8rem; }

input::placeholder {
  color: grey; }

hr {
  border: 0;
  width: 96%;
  background-color: #333;
  height: 1px; }
