@import '_variables.sass'
@import 'semantic_overrides.sass'

*
  box-sizing: border-box
@font-face
  font-family: 'utkonos'
  font-style: normal
  font-weight: 400
  src: local('utkonos'), local('utkonos-regular'), url(../assets/fonts/Utkonos-Regular.woff2) format('woff2')   
@font-face
  font-family: 'utkonos'
  font-style: normal
  font-weight: 700
  src: local('utkonos'), local('utkonos-bold'), url(../assets/fonts/Utkonos-Bold.woff2) format('woff2')   


input[type='number']
  -moz-appearance:textfield

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button 
  -webkit-appearance: none

body 
  height: 96vh
  margin: 0
  background-color: #fefefe
  overflow: auto
  font-family: "utkonos", Helvetica, Arial, sans-serif !important
  +mq("tablet-wide", "max")
    height: 100% 

#root
  height: 100%
.app-container
  min-width: 1080px    
  height: 100%
  margin: 1rem
  margin-top: 4rem
  padding-bottom: 1rem
  display: flex 
  flex-direction: column
  background-color: #e5e5e5
  box-shadow: $elevation_2
  +mq("tablet-wide", "max")
    min-width: auto
    height: auto
  h1
    text-align: center
hr 
  border: 0
  clear:both
  display:block
  width: 96%               
  background-color:#333
  height: 1px

.dev-wrapper 
  display: grid
  grid-template-columns: 350px 1fr 2fr
  background-color: #e5e5e5  
  height: 100%
  >div
    padding: 1rem
    h4
      text-align: center
  +mq("tablet-wide", "max")
    grid-template-columns: 350px 1fr
    grid-template-rows: 500px
.main-wrapper  
  display: flex
  background-color: #e5e5e5 
  min-height: 700px 
  justify-content: center
  align-items: center 
  h4
    text-align: center
.controls-wrapper
  background: #e5e5e5
  position: relative
  flex-basis: 350px
  min-width: 350px 
  display: flex
  flex-direction: column
  overflow-y: auto
  .control-item
    display: flex
    text-align: left
    flex-direction: column
    button
      margin: 1rem auto 0
      width: 50%
    span      
      letter-spacing: -1px
      text-transform: uppercase
  .input-item
    display: flex
    text-align: left
    flex-direction: column
    margin: 0.5rem 0        
    span      
      letter-spacing: -1px
      text-transform: uppercase  

.state-wrapper
  flex-basis: 250px
  min-width: 250px
  height: 100%
  background-color: #e5e5e5 
 
.request-wrapper,
.error-wrapper
  height: 35%
  margin-bottom: 2rem    
.request-body,
.error-body
  display: flex  
  align-items: center
  justify-content: center
  flex-direction: column
  background-color: #fcfef1
  height: 80%
  text-align: center 
  font-size: 1.5rem
.error-status__text
  color:  #d60606
.output-wrapper
  background-color: #e5e5e5
  flex-grow: 1
  height: 100%  
  max-height: 800px
  +mq("tablet-wide", "max")
    max-height: 600px
    grid-column: span 2
  .output-body
    height: calc(100% - 45px)
    padding: 0.8rem    
    font-size: 0.9rem
    box-shadow: inset 2px 2px 18px -6px rgba(0,0,0,0.35), inset -2px -2px 18px -6px rgba(0,0,0,0.35)
    background-color: #f3e6b8
    width: 100%        
    pre 
      height: 100%      
      padding: 5px
      margin: 5px
      overflow-y: auto
      .string
        color: green
      .numberc
        color: darkorange
      .boolean
        color: blue    
      .null
        color: magenta    
      .key
        color: red
.input-form
  display: flex
  flex-direction: column
  input.invalid
    background-color: #e99c9c 
  >div
    display: flex
    justify-content: space-between
    align-items: center
  button:disabled
    cursor: not-allowed
  .input-wrapper
    position: relative
    input   
      margin: 0.5rem 0
      width: 50%     
         
  .input__helper-text
    display: none
    position: absolute
    right: 5px
    top: -10px
    text-transform: lowercase
    color: #e99c9c
    font-size: 0.8rem
    font-family: cursive     

.links-wrapper
  padding: 1rem
  display: flex
  button
    width: 100px
    height: 40px
    margin: 0 0.5rem
    box-shadow: $elevation_1
  a.active button
    background-color: #7878ad
    border: none   

.datepicker-wrapper
  padding: 0.8rem
input::placeholder
  color: grey