* {
  box-sizing: border-box; }

@font-face {
  font-family: 'utkonos';
  font-style: normal;
  font-weight: 400;
  src: local("utkonos"), local("utkonos-regular"), url(../assets/fonts/Utkonos-Regular.woff2) format("woff2"); }

@font-face {
  font-family: 'utkonos';
  font-style: normal;
  font-weight: 700;
  src: local("utkonos"), local("utkonos-bold"), url(../assets/fonts/Utkonos-Bold.woff2) format("woff2"); }

#root {
  height: 100%; }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none; }

body {
  height: 100vh;
  margin: 0;
  background-color: #fefefe;
  overflow: auto;
  font-family: "utkonos", Helvetica, Arial, sans-serif !important;
  font-size: 16px; }

.ui.inverted.menu {
  background: #353535; }

.ui.primary.button, .ui.primary.buttons .button {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  background-color: #BADA55;
  color: #353535; }
  .ui.primary.button:hover, .ui.primary.button:focus, .ui.primary.buttons .button:hover, .ui.primary.buttons .button:focus {
    background-color: #c2ea45;
    color: #353535; }

.dev-wrapper {
  display: grid;
  grid-template-columns: 350px 1fr 2fr;
  background-color: #e5e5e5;
  height: 100%; }
  .dev-wrapper > div {
    padding: 1rem; }
    .dev-wrapper > div h4 {
      text-align: center; }
  @media only screen and (max-width: 1023px) {
    .dev-wrapper {
      grid-template-columns: 350px 1fr;
      grid-template-rows: 500px; } }

.controls-wrapper {
  background: #e5e5e5;
  position: relative;
  flex-basis: 350px;
  min-width: 350px;
  display: flex;
  flex-direction: column;
  overflow-y: auto; }
  .controls-wrapper .control-item {
    display: flex;
    text-align: left;
    flex-direction: column; }
    .controls-wrapper .control-item button {
      margin: 1rem auto 0;
      width: 50%; }
    .controls-wrapper .control-item span {
      letter-spacing: -1px;
      text-transform: uppercase; }
  .controls-wrapper .input-item {
    display: flex;
    text-align: left;
    flex-direction: column;
    margin: 0.5rem 0; }
    .controls-wrapper .input-item span {
      letter-spacing: -1px;
      text-transform: uppercase; }

.state-wrapper {
  flex-basis: 250px;
  min-width: 250px;
  height: 100%;
  background-color: #e5e5e5; }

.request-wrapper,
.error-wrapper {
  height: 35%;
  margin-bottom: 2rem; }

.request-body,
.error-body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #fcfef1;
  height: 80%;
  text-align: center;
  font-size: 1.5rem; }

.error-status__text {
  color: #d60606; }

.output-wrapper {
  background-color: #e5e5e5;
  flex-grow: 1;
  height: 100%;
  max-height: 800px; }
  @media only screen and (max-width: 1023px) {
    .output-wrapper {
      max-height: 600px;
      grid-column: span 2; } }
  .output-wrapper .output-body {
    height: calc(100% - 45px);
    padding: 0.8rem;
    font-size: 0.9rem;
    box-shadow: inset 2px 2px 18px -6px rgba(0, 0, 0, 0.35), inset -2px -2px 18px -6px rgba(0, 0, 0, 0.35);
    background-color: #f3e6b8;
    width: 100%; }
    .output-wrapper .output-body pre {
      height: 100%;
      padding: 5px;
      margin: 5px;
      overflow-y: auto; }
      .output-wrapper .output-body pre .string {
        color: green; }
      .output-wrapper .output-body pre .numberc {
        color: darkorange; }
      .output-wrapper .output-body pre .boolean {
        color: blue; }
      .output-wrapper .output-body pre .null {
        color: magenta; }
      .output-wrapper .output-body pre .key {
        color: red; }

.input-form {
  display: flex;
  flex-direction: column; }
  .input-form input.invalid {
    background-color: #e99c9c; }
  .input-form > div {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .input-form button:disabled {
    cursor: not-allowed; }
  .input-form .input-wrapper {
    position: relative; }
    .input-form .input-wrapper input {
      margin: 0.5rem 0;
      width: 50%; }
  .input-form .input__helper-text {
    display: none;
    position: absolute;
    right: 5px;
    top: -10px;
    text-transform: lowercase;
    color: #e99c9c;
    font-size: 0.8rem;
    font-family: cursive; }

.links-wrapper {
  padding: 1rem;
  display: flex; }
  .links-wrapper button {
    width: 100px;
    height: 40px;
    margin: 0 0.5rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }
  .links-wrapper a.active button {
    background-color: #7878ad;
    border: none; }

.datepicker-wrapper {
  padding: 0.8rem; }

input::placeholder {
  color: grey; }

hr {
  border: 0;
  width: 96%;
  background-color: #333;
  height: 1px; }

.app-container {
  height: 100vh;
  display: grid;
  grid-template-columns: 80px 1fr;
  grid-template-rows: 85px 1fr;
  color: #4b5750; }
  .app-container a {
    text-decoration: none;
    color: inherit; }

.app-sideframe {
  background-color: #38925c;
  grid-row: span 2;
  display: grid;
  padding-top: 3rem;
  padding-bottom: 3rem;
  justify-items: center;
  align-content: space-between;
  color: #fff; }

.app-sideframe__user-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.sideframe__user-icon {
  margin-bottom: 1rem; }

.st0 {
  fill: #d7e9de; }

.sideframe__dot {
  height: 4px;
  width: 4px;
  background-color: #9bc8ad;
  border-radius: 50%;
  margin: 0 1px;
  display: inline-block; }

.app-sideframe__hide-options {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  background-color: #4c9d6c;
  margin-bottom: 2rem;
  border-radius: 30%; }
  .app-sideframe__hide-options i.arrow {
    border: solid #fff;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 4px;
    margin-left: 1px;
    transform: rotate(135deg); }
  .app-sideframe__hide-options i.arrow.right {
    margin-left: 0;
    transform: rotate(-45deg); }

.sideframe__logo-wrapper {
  display: flex;
  text-align: center;
  margin-bottom: 4rem; }

.sideframe__links-wrapper__link {
  margin: 1rem auto; }

.sideframe__user-options {
  text-align: center; }

.app-addressframe {
  border-bottom: 1px solid #e2e2e2;
  display: grid;
  padding: 1rem 1rem 1rem 2.5rem;
  grid-template-columns: auto 1fr;
  align-content: center;
  justify-content: space-between; }
  .app-addressframe .addressframe__module-name {
    font-weight: bold;
    font-size: 1.7rem;
    text-align: left; }
  .app-addressframe .addressframe__address-bar {
    padding-left: 2rem;
    text-align: left;
    display: flex;
    align-items: center; }
    .app-addressframe .addressframe__address-bar .address-bar__link {
      padding: 0.5rem;
      vertical-align: sub; }
    .app-addressframe .addressframe__address-bar .address-bar__dash {
      padding-top: 7px;
      vertical-align: sub; }

.app-module__wrapper.hidden {
  grid-template-columns: none; }

.app-module__wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 230px 1fr; }
  .app-module__wrapper .app-module__options {
    border-right: 1px solid #e2e2e2;
    padding: 3rem 2rem;
    text-align: center;
    display: grid;
    align-content: flex-start;
    grid-gap: 1rem;
    text-align: left; }
    .app-module__wrapper .app-module__options > a.active {
      font-weight: bold; }
      .app-module__wrapper .app-module__options > a.active i.arrow {
        border: solid #38925c;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 3px;
        transform: rotate(-45deg); }
  .app-module__wrapper .app-module__body {
    display: grid;
    grid-template-columns: 1fr;
    padding: 0 1.3rem 0 1.3rem;
    grid-template-rows: 120px 1fr;
    align-content: center;
    justify-content: center; }

.module-options__option {
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .module-options__option span {
    margin-right: 5px; }

.module-input-filters__wrapper {
  padding: 2rem 2rem 2rem 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 2.3rem; }
  .module-input-filters__wrapper .input-filters__inputs-wrapper {
    display: grid;
    grid-gap: 20px;
    width: 400px;
    grid-template-columns: 170px 100px; }
    .module-input-filters__wrapper .input-filters__inputs-wrapper label {
      font-size: 0.95rem;
      padding-bottom: 1rem; }

.module-main-area__wrapper {
  border: 1px solid #e2e2e2;
  border-radius: 3px;
  display: grid;
  align-content: flex-start;
  overflow: auto;
  color: #333; }

.resources-table__header {
  height: 70px;
  padding: 1rem;
  display: grid;
  grid-template-columns: 200px 250px 1fr 100px;
  justify-content: space-around;
  align-content: center;
  border-bottom: 1px solid #38925c;
  font-weight: bold; }
  .resources-table__header > span {
    text-align: center; }
  .resources-table__header .resources-header__shifts-wrapper {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 300px;
    grid-auto-flow: column;
    justify-content: space-around;
    grid-auto-columns: 300px; }

.resources-table__row {
  height: 70px;
  padding: 1rem;
  display: grid;
  grid-template-columns: 200px 250px 1fr 100px;
  justify-content: space-around;
  align-content: center;
  border-bottom: 1px solid #e2e2e2; }
  .resources-table__row .resources-table__shifts-wrapper {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 330px;
    grid-auto-flow: column;
    justify-content: space-around;
    grid-auto-columns: 330px; }
    .resources-table__row .resources-table__shifts-wrapper .resources-table__shift {
      display: flex;
      justify-content: space-between; }
      .resources-table__row .resources-table__shifts-wrapper .resources-table__shift .resources-table__hub-name {
        font-size: 0.95rem;
        text-align: left;
        padding-left: 15px;
        width: 200px; }
      .resources-table__row .resources-table__shifts-wrapper .resources-table__shift .resources-table__hub-dropdown {
        display: flex;
        align-items: center; }
        .resources-table__row .resources-table__shifts-wrapper .resources-table__shift .resources-table__hub-dropdown .Dropdown-control {
          padding: 8px 32px 8px 10px; }
          .resources-table__row .resources-table__shifts-wrapper .resources-table__shift .resources-table__hub-dropdown .Dropdown-control .Dropdown-placeholder {
            font-size: 0.95rem;
            width: 140px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis; }
        .resources-table__row .resources-table__shifts-wrapper .resources-table__shift .resources-table__hub-dropdown .Dropdown-menu {
          max-height: 600px;
          box-shadow: 0 3px 10px rgba(0, 0, 0, 0.16); }
          .resources-table__row .resources-table__shifts-wrapper .resources-table__shift .resources-table__hub-dropdown .Dropdown-menu .Dropdown-option:hover, .resources-table__row .resources-table__shifts-wrapper .resources-table__shift .resources-table__hub-dropdown .Dropdown-menu .Dropdown-option.is-selected {
            background-color: #eff9f3; }
      .resources-table__row .resources-table__shifts-wrapper .resources-table__shift .resources-table__shift-van-amount {
        display: flex;
        align-items: center; }
  .resources-table__row .resources-table__cluster-name, .resources-table__row .resources-table__overall-van-amount {
    display: flex;
    align-items: center;
    justify-content: center; }
  .resources-table__row .resources-table__overall-van-amount, .resources-table__row .resources-table__shift-van-amount {
    padding-left: 60px; }
    .resources-table__row .resources-table__overall-van-amount > span:first-child, .resources-table__row .resources-table__shift-van-amount > span:first-child {
      margin-right: 10px;
      display: flex;
      align-items: center; }
    .resources-table__row .resources-table__overall-van-amount > span, .resources-table__row .resources-table__shift-van-amount > span {
      margin-right: 20px;
      font-weight: bold;
      height: 10px;
      line-height: 12px; }
      .resources-table__row .resources-table__overall-van-amount > span svg, .resources-table__row .resources-table__shift-van-amount > span svg {
        color: #bfbfbf;
        width: 1.8rem;
        height: 1.8rem; }
    .resources-table__row .resources-table__overall-van-amount .van-amount__button, .resources-table__row .resources-table__shift-van-amount .van-amount__button {
      padding-left: 30px;
      margin-bottom: 5px; }
    .resources-table__row .resources-table__overall-van-amount i.arrow__down, .resources-table__row .resources-table__shift-van-amount i.arrow__down {
      border: solid #38925c;
      border-width: 0 2px 2px 0;
      display: inline-block;
      padding: 3px;
      transform: rotate(45deg); }
  .resources-table__row .resources-table__overall-van-amount > span svg {
    color: #65c68c; }
  .resources-table__row .resources-table__cluster-name > span {
    font-weight: bold;
    padding: 0.2rem 0.7rem;
    border: 1px solid #92bcee; }
  .resources-table__row .resources-table__menu-wrapper {
    display: flex;
    align-items: center;
    justify-content: center; }
    .resources-table__row .resources-table__menu-wrapper > span {
      cursor: pointer; }
      .resources-table__row .resources-table__menu-wrapper > span svg {
        color: #333; }
    .resources-table__row .resources-table__menu-wrapper .menu-wrapper__controls button {
      border: none;
      background-color: transparent;
      cursor: pointer; }
    .resources-table__row .resources-table__menu-wrapper .menu-wrapper__controls button:first-child {
      color: #38925c;
      text-decoration: underline; }

.resources-table__row.editable {
  background-color: #f8f8f8; }

.menu__dot {
  height: 4px;
  width: 4px;
  background-color: #9bc8ad;
  border-radius: 50%;
  margin: 0 1px;
  display: inline-block; }

.date-menu__wrapper {
  position: relative; }
  .date-menu__wrapper .popup-date-filter__wrapper {
    position: absolute;
    display: grid;
    align-content: flex-start;
    margin-top: -1px;
    width: 170px;
    z-index: 10;
    background-color: #fff;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.16); }
    .date-menu__wrapper .popup-date-filter__wrapper .date-filter__current-date {
      text-align: center;
      display: grid;
      align-items: flex-end;
      padding-bottom: 2rem;
      font-size: 1.2rem;
      font-weight: bold;
      height: 120px; }
    .date-menu__wrapper .popup-date-filter__wrapper .date-filter__calendar {
      border: 1px solid #e2e2e2;
      border-radius: 3px; }
      .date-menu__wrapper .popup-date-filter__wrapper .date-filter__calendar .calendar__item {
        width: 100%;
        height: 60px;
        position: relative;
        font-size: 0.9rem;
        border-bottom: 1px solid #e2e2e2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 1rem; }
        .date-menu__wrapper .popup-date-filter__wrapper .date-filter__calendar .calendar__item .calendar__item--description {
          font-weight: bold;
          margin-bottom: 0.5rem; }
        .date-menu__wrapper .popup-date-filter__wrapper .date-filter__calendar .calendar__item i.arrow {
          position: absolute;
          right: 15px;
          top: 25px;
          border: solid #38925c;
          border-width: 0 3px 3px 0;
          display: inline-block;
          padding: 3px;
          transform: rotate(-45deg); }
      .date-menu__wrapper .popup-date-filter__wrapper .date-filter__calendar .calendar__item:hover {
        background: #eff9f3;
        cursor: pointer; }
      .date-menu__wrapper .popup-date-filter__wrapper .date-filter__calendar .calendar__item.active {
        background: #eff9f3; }
      .date-menu__wrapper .popup-date-filter__wrapper .date-filter__calendar .calendar__item.pastday {
        color: rgba(75, 87, 80, 0.35); }

.date-menu__control {
  width: 170px;
  margin-top: 0.3rem;
  position: relative;
  overflow: hidden;
  background-color: white;
  border: 1px solid #e2e2e2;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12);
  border-radius: 2px;
  box-sizing: border-box;
  color: #333;
  cursor: pointer;
  outline: none;
  padding: 4px 32px 4px 10px;
  transition: all 200ms ease; }
  .date-menu__control .date-menu__placeholder {
    font-size: 0.95rem;
    width: 120px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
  .date-menu__control .date-menu__arrow {
    border-color: #333 transparent transparent;
    border-style: solid;
    border-width: 5px 5px 0;
    content: ' ';
    display: block;
    height: 0;
    margin-top: -ceil(2.5);
    position: absolute;
    right: 10px;
    top: 12px;
    width: 0; }

.input-filters__cluster-dropdown > div {
  margin-top: 0.3rem; }

.input-filters__cluster-dropdown .Dropdown-control {
  width: 100px;
  padding: 4px 32px 4px 10px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12); }
  .input-filters__cluster-dropdown .Dropdown-control .Dropdown-placeholder {
    font-size: 0.95rem;
    width: 80px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }

.input-filters__cluster-dropdown .Dropdown-menu {
  max-height: 600px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.16); }
  .input-filters__cluster-dropdown .Dropdown-menu .Dropdown-option:hover, .input-filters__cluster-dropdown .Dropdown-menu .Dropdown-option.is-selected {
    background-color: #eff9f3; }

.input-filters__cluster-dropdown .Dropdown-arrow {
  border-color: #333 transparent transparent;
  top: 12px; }

.input-filters__cluster-dropdown .is-open .Dropdown-arrow {
  border-color: transparent transparent #333; }
