@import '_variables.sass'

body 
  background: $primary
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif

.container
  display: flex
  flex-direction: column
  max-width: 1080px
  margin: 0 auto


